<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>labr</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="left">
      <header>
        <h1>
          LABR is<br>
          <span
            ><a target="_blank" href="https://tegabrain.com/">Tega Brain</a> &
            <a target="_blank" href="https://lav.io/">Sam Lavigne</a></span
          >
        </h1>

        <p>
          <a href="/bio">Bio</a> ///
          <a href="mailto:labr.io.studio@gmail.com">Contact</a>
        </p>
      </header>

      <h2>Selected Works</h2>
      {{ range $i,$p := where .Site.RegularPages.ByPublishDate.Reverse "Type"
      "projects"}}
        <div>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <date>({{ .Date.Format "2006" }})</date>
        </div>
      {{ end }}
    </div>

    <div class="right">
      {{ block "main" . }}{{ end }}
    </div>

    <script>
      const links = [
        `<a target="_blank" href="https://tegabrain.com/">Tega Brain</a>`,
        `<a target="_blank" href="https://lav.io/">Sam Lavigne</a>`,
      ];
      document.querySelector("header span").innerHTML =
        Math.random() >= 0.5
          ? `${links[0]} and ${links[1]}`
          : `${links[1]} and ${links[0]}`;
    </script>
  </body>
</html>
