<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>labr</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="left">
      <header>
        <h1>
          <a href="/"
            >LABR is<br />
            <span>Tega Brain & Sam Lavigne</span></a
          >
        </h1>

        <p>
          <a href="/bio">Bio</a> ///
          <a href="mailto:labr.io.studio@gmail.com">Contact</a>
        </p>
      </header>

      <h2>Selected Works</h2>
      {{ range $i,$p := where .Site.RegularPages.ByPublishDate.Reverse "Type"
      "projects"}}
      <div>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <date>({{ .Date.Format "2006" }})</date>
      </div>
      {{ end }}
    </div>

    <div class="right">{{ block "main" . }}{{ end }}</div>

    <script>
      document.querySelector("header span").innerHTML =
        Math.random() >= 0.5
          ? "Sam Lavigne and Tega Brain"
          : "Tega Brain and Sam Lavigne";
    </script>
  </body>
</html>
