body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 50px;
  line-height: 1.5;
  padding: 20px;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h6 {
  text-align: center;
  margin-top: 0px;
}

h1 {
  font-size: 70px;
  margin-bottom: 0px;
  margin: 0;
  line-height: 1;

  a {
    text-decoration: none;
  }
}

a {
  color: black;
}

.content {
  max-width: 90ch;
}

img {
  width: 100%;
  display: block;
}

.left {
  position: sticky;
  left: 0;
  top: 20px;
  align-self: start;

  a {
    text-decoration: none;
  }
}

.right {
  max-width: 100ch;
}
